.header .title{
	width: 7.5rem;
	height: 1rem;
	line-height: 1rem;
	text-align: center;
	background-color: #00d8a0;
	font-size: 0.36rem;
	color: white;
	position: relative;
}
.header .title img{
	position: absolute;
	left: 0.33rem;
	top: 50%;
	margin-top: -0.21rem;
	width: 0.23rem;
	height: 0.42rem;
}

.menu{
	/*padding: 0.25rem 0.3rem 0.3rem 0.3rem;*/
	border-bottom: 0.02rem solid #cccccc;

	
}


.goodlist{
	border-bottom: none;
}
.goodlist-item{
	width: 100%;
}
.menu{
	padding-top: 0;
}

.listBtn .words{
	color: #00d8a0;
}

.goodlist-item{
	border: none;
	-webkit-box-shadow: none;
	        box-shadow: none;
}
.goodlist-item-introImg{
	width: 7.5rem;
	height: auto;
}

.others{
	width: 2.2rem;
	/*float: right;*/
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	margin-right: 0.3rem;

}
.listLabels{
	width: 3.5rem;
	/*float: left;*/
}
.others .thumbUp,.others .see{

	font-size: 0.24rem;
	color: #b3b3b3;
}
.others .thumbUp img{

	width: 0.31rem;
	height: auto;
	
}
.others .see{
	height: 0.25rem;
}
.others .see img{
	width: 0.38rem;
	height: auto;
}
.goodlist-item .bottom{
	margin-bottom: 0.14rem;
	
	display: -webkit-box;
	
	display: -ms-flexbox;
	
	display: flex;
	-webkit-box-align: end;
	    -ms-flex-align: end;
	        align-items: flex-end;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.goodlist-item .listLabels ul li,.others{
	margin-bottom: 0.12rem;
}
.goodlist-item .listLabels ul li:nth-child(2n){
	margin-right: 0;
}
.listName,.listLabels{
	margin-left: 0.3rem;
}
.listTime,.listAddress,.listSponsor,.listContactor,.listPhone{

	border-bottom: 0.01rem solid #e6e6e6;
	margin-top:0rem;
	padding: 0.16rem 0 0.16rem 0;
}
.listTime img,.listSponsor img,.listAddress img,.listContactor img,.listPhone img{
	
	margin-left: 0.3rem;
}
.listTime{
	border-top: 0.01rem solid #e6e6e6;
}

.description{
	width: 100%;
	padding: 0;
}
.activityContent{
	width: 6.92rem;
	margin: 0 auto;
	margin-bottom: 1.5rem;

}
.activityContent .top{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	margin-top: 0.45rem;
}
.activityContent .top .word{
	width: 1.2rem;
	
	font-size: 0.3rem;
	color: #4d4d4d;
}
.activityContent .top .line{
	width: 2.66rem;
	height: 0.02rem;
	background-color: #00d8a0;
}
.activityContent .content{

	font-size: 0.26rem;
	line-height: 0.36rem;
	color: #666666;
	margin: 0 auto;
	margin-top: 0.1rem;
}